body {
	background: linear-gradient(to right, #3498db, #1abc9c); /* Change to white */
	margin: 0;
	font-family: "Montserrat";
}

.index {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 8px;
	transition: background 0.5s ease-in-out;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.index:hover {
	transform: scale(1.1);
  }

#container {
	margin: 0 auto;
	max-width: 600px;
}

#colorDisplay {
	font-size: 200%;
	color: #ff5733; /* Orange color */
}

#message {
	display: inline-block;
	width: 20%;
	color: #26a65b; /* Green color */
}

button {
	background: linear-gradient(to right, #3498db, #1abc9c);
	color: white;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease;
	background-clip: padding-box;
  }

  button:hover {
	background: #2980b9;
	transform: translateY(-2px);
	border: 2px solid #3498db;
  }

  h1 {
	color: white;
	text-align: center;
	background: linear-gradient(to right, #3498db, #1abc9c);
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0px;
	border-radius: 10px;
  }

  #stripe {
	text-align: center;
	background: #ecf0f1;
	height: 30px;
	color: #34495e;
	border-bottom: 2px solid #bdc3c7;
	line-height: 30px;
  }

.button {
	background-color: blue;
}
