body {
	background-color: white; /* Change to white */
	margin: 0;
	font-family: "Montserrat";
}

.index {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

#colorDisplay {
	font-size: 200%;
	color: #ff5733; /* Orange color */
}

#message {
	display: inline-block;
	width: 20%;
	color: #26a65b; /* Green color */
}

button {
	background: none;
	border: none;
	height: 100%;
	font-size: inherit;
	font-weight: 700;
	text-transform: uppercase;
	color: #d35400; /* Pumpkin color */
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0px;
}

#stripe {
	text-align: center;
	background: white;
	height: 30px;
	color: black;
	background-color: #3498db; /* Dodger blue color */
}

.button {
	background-color: blue;
}
